
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Home</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<hr/>
<!-- Center Option -->
<div class="row justify-content-md-center">
    <div class="card card-division col-3" style="width: 18rem;">
      <a [routerLink]="['/estatisticas']" class="card-link">
        <img class="card-img-top" src="https://png.pngtree.com/element_origin_min_pic/16/11/26/a994c30cbcae03895c7c402a05334ed9.jpg" alt="Card image cap">
        <div class="card-body">
          <h4>Estatísticas</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </a>
    </div>
    
    <div class="card card-division col-3" style="width: 18rem;">
      <a [routerLink]="['/clientes']" class="card-link">
        <img class="card-img-top" src="https://cdn0.iconfinder.com/data/icons/users-groups-1/512/user_settings-512.png" alt="Card image cap">
        <div class="card-body">
          <h4>Gerenciar Pacientes</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </a>  
    </div>

    <div class="card card-division col-3" style="width: 18rem;">
      <a [routerLink]="['/gatilhos']" class="card-link">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmNQWSOahMXadNsQ9zyoha2XpRyw2gn-a8lOIDC1YkvMvU5Vh6" alt="Card image cap">
        <div class="card-body">
          <h4>Gatilhos</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </a>  
    </div>
</div>
 <!-- Fim Center Option -->





